<footer class="footerCredits">
	<p>Created using <a href="http://www.omdbapi.com/" target="_blank">The Open Movie Database</a>. For more information, please visit my <a href="https://edplato.github.io/" target="_blank">GitHub portfolio</a>.</p>
</footer>
<!-- <div class="footerCredits">

</div> -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
