<!DOCTYPE html>
<html>
  <head>
    <title>Flick Pick</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span><img alt="Logo" id="logo" src="/images/favicon-32x32.png"></span>Flick Pick</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<ul class="nav navbar-nav navbar-right">
<% if(session.pool !== undefined && session.pool.items) { %>
  <% function convertObjectToList(obj) { %>
  <%  var array = []; %>
  <%  for (var key in obj){ %>
  <%   array.push([key, obj[key]]); %>
  <%  } %>
  <% return array; %>
  <% } %>

  <% var newArr = convertObjectToList(session.pool.items); %>

  <li class="navbarPosterContainer visible-lg visible-md visible-sm hidden-xs">
  <% for(var i = 0; i < newArr.length && i < 5; i++){ %>
    <% var navbarMovieDetail = newArr[i][1].movieDetails[0].detailBody %>
  <div class="dropdown">

  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    
  <% if(navbarMovieDetail.Poster == 'N/A'){ %>
    <img src="http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg" alt="Movie Poster">
  <%  } else { %>
    <img src="<%=navbarMovieDetail.Poster%>" alt="Movie Poster">
  <% } %>
  </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%=navbarMovieDetail.Title%></li>
        <li role="separator" class="divider"></li>
        <li><a href="/movie-pool">View in Pool</a></li>
        <li><a href="/navremove/<%=navbarMovieDetail.imdbID%>">Remove</a></li>
        <% if(login) { %>
        <li><a href="/watch-later">Watch Later</a></li>
        <% }; %>
      </ul>
      
    </div>
  <% }; %>
  </li>

<% }; %>

        <li><a href="/movie-pool"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Movie Pool </a></li>
        <% if(login) { %>
        <li><a href="/user/profile">User Profile</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/user/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/user/signin">Sign In</a></li>
        <% }; %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
