html {
  width: 100%;
  height: 100%;
  min-width: 300px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: url("/images/filmBackround.png");
  background-color: #252839;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 10% 100%; 
}

h1 {
  color: #f7f7f7;
}

h3 {
  color: #f7f7f7;  
}

.page-header {
  margin-top: 0;
}

.page-header h3 {
  text-align: left;
  padding-left: 16px;
  margin-top: 0;
}

.mainContainer {
  overflow-y: auto; 
  height: 100%;
}

.mainTitle {
  margin: 15px 25px 20px 25px;
}

.mainMoviePoolLink {
  margin: 0 0 20px 0;
}

.homePageBlankMessage{
  text-align: center;
}


/*NAVBAR*/
.navbarPosterContainer img {
  height: 65px;
  width: 42px;
  -webkit-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.8);
  -moz-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.8);
  box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.8);
}

.navbarPosterContainer .dropdown {
  position: relative;
  display: inline-block;
}

.navbar-default {
  min-height: 75px;
  border-radius: 0;
  background-color: #f7f7f7;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding-top: 12px;
}

.navbar>.container-fluid .navbar-brand {
  color: #252839;
  text-shadow: .75px .75px 1px #677077;
}

.navbar-default .navbar-toggle{ 
  margin: 10px;
  width: 50px;
  height: 50px;
 }

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle .icon-bar {
  width: 100%;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 25px;
}

.dropdown-toggle {
  border: none;
  background: none;
  padding-top: 0;
}

.navBarMovieButton {
  padding: 0;
  margin-top: 5px;
}

#logo {
  padding-bottom: 20px;
}

/*SEARCH FORM*/

.searchBar {
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.form-control {
  margin: 0 auto;
  width: 80%;
}

.input-group {
  margin: 0 auto;
  padding: 5px;
  max-width: 400px;
}

.input-group button {
  height: 34px;
}

/*SEARCH RESULTS*/
.searchResultsTitle {
  margin-top: 0px;
}

.searchResults {
  text-align: center;
}

.inPoolBackground {
  background: #dadadb;
  border: 0;
}

.searchResults .thumbnail {
  margin: 20px auto;
  padding: 5px 0 0 0;
  border: 0;
  height: 350px;
  width: 90%;
  position: relative;
  -webkit-box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.2);
  box-shadow: 4px 4px 7px -1px rgba(0,0,0,0.2);
}

.searchResults .thumbnail .btn:first-of-type{
  border-radius: 0;
}

.searchResultsButtons {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.searchResultsPoolButtons {
  width: 100%;
  right: 0;
  bottom: 0;
}

.searchResultsButtonsMin {
  width: 100%;
}

/*PROFILE*/
.media {
  border: 2px solid #f7f7f7; 
  background: #f7f7f7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #f7f7f7, #dadadb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #f7f7f7, #dadadb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #f7f7f7, #dadadb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #f7f7f7, #dadadb); /* Standard syntax */
}

.profileSubHeader {
  padding-left: 16px;
}

.profileButtons {
  display: inline-block;
}

.profileButtons .btn {
  min-width: 172px;
  border-radius: 0;
}

@media only screen and (max-width: 600px) {
    .profileButtons .btn {
      width: 100%;
    }
}

/*MOVIE POOL*/
.moviePoolContainers {
  padding: 0;
  border: 5px solid #252839;
  background: #f7f7f7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #f7f7f7, #dadadb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #f7f7f7, #dadadb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #f7f7f7, #dadadb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #f7f7f7, #dadadb); /* Standard syntax */
}

.moviePoolContainers .thumbnail {
  border: 0;
  border-radius: 0;
  background: none;
  margin-bottom: 0;
}

.movieRating {
  margin-bottom: 0;
  line-height: 30px;
}

.emptyPoolMessage {
  text-align: center;
}

/*AUTH*/
.userAuthForm {
  text-align: center;
  color: white;
}

.userAuthForm .btn {
  width: 120px;
}

/*POSTER CONTROL*/
.poster {
  min-height: 240px;
  max-height: 240px;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.7);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.7);
  box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.7);
}

.posterSmall {
  max-height: 320px;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.7);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.7);
  box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.7);
}

.miniPoster {
  max-height: 100px;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.5);
}

/*ADDITIONAL*/
.yearStyle {
  opacity: 0.7;
  font-size: .8em;
}

.btn-danger {
  background: #FF1800;
}

.btn-primary {
  background: #1097FF;
}

.footerCredits {
  color: #f7f7f7;
  padding-top: 20px;
  text-align: center;
  bottom: 10px;
}