html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background: url("/images/filmBackround.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 10% 100%; 
}

.navbar-default {
  min-height: 75px;
}

#logo {
  padding-bottom: 20px;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding-top: 12px;
}

.mainContainer {
  overflow-y: auto; 
  height: 100%;
}

.searchBar {
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.form-control {
  /*text-align: center;*/
  margin: 0 auto;
  width: 80%;
}

.input-group {
  margin: 0 auto;
  padding: 5px;
  max-width: 400px;
}

.input-group button {
  height: 34px;
}

.dropdown-toggle {
  border: none;
  background: none;
  padding-top: 0;
}

.searchResults {
  text-align: center;
}

.emptyPoolMessage {
  text-align: center;
}

.inPoolMessage {
  opacity: 0.5;
  letter-spacing: 2px;
}

.inPoolBackground {
  background: lightsteelblue;
}

.moviePoolContainers {
  padding: 0;
  border: 1px solid black;
  /*min-height: 434px;*/
  /*margin: 5px;*/
  /*height: 800px;*/
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, white, lightsteelblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, white, lightsteelblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, white, lightsteelblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white, lightsteelblue); /* Standard syntax */
}

.moviePoolContainers .thumbnail {
  margin-bottom: 0;
}

.poolHiddenRT {
  color: transparent;
  overflow: hidden;
}

.glyphicon-film {
  color: blue;
}

.searchResults .thumbnail {
  height: 400px;
  position: relative;
}

.navbar-default .navbar-toggle{ 
  margin: 10px;
  width: 50px;
  height: 50px;
 }

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle .icon-bar {
  width: 100%;
}

.yearStyle {
  opacity: 0.7;
  font-size: .8em;
}

.searchResultsMovieYear {
  opacity: 0.7;
  font-size: .8em;
}

.searchResultsButtons {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.searchResultsPoolButtons {
  width: 100%;
  right: 0;
  bottom: 0;
}

.searchResultsButtonsMin {
  width: 100%;
}

.poolYear {
  opacity: 0.7;
  font-size: .8em;
}

.posterSearch {
  min-height: 240px;
	max-height: 240px;
}

.poster {
  min-height: 240px;
  max-height: 240px;
}

.posterSmall {
  max-height: 320px;
}

.miniPoster {
  max-height: 100px;
}

.userAuthForm {
  text-align: center;
}

.page-header {
  margin-top: 0;
}

.page-header h3 {
  text-align: left;
  padding-left: 16px;
  margin-top: 0;
}

.userAuthForm .btn {
  width: 120px;
}

.navbarPosterContainer {
  /*max-width: 70%;*/
  /*float: left;*/
	/*height: 55px;*/
}

.navbarPosterContainer img {
  /*padding-top: 3px;*/
	height: 65px;
  width: 42px;
-webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.3);
  /*position: absolute;*/
  /*z-index: -1;*/
}

.navbarPosterContainer .dropdown {
  position: relative;
  display: inline-block;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 25px;
}

.profileProgress {
  width: 180px;
}

.footerCredits {
  padding-top: 20px;
  text-align: center;
  bottom: 10px;
}